* {
  margin: 0;
  padding: 0;
}

.Header {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #b16e3a;
}

button {
  background-color: #ce8f86;
  padding: 0.5em;
  font-size: 1.5em;
  border-radius: 1em;
}

.allbooks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

.book-page {
  text-align: center;
  padding: 1em;
  display: flex;
}

.page-image img {
  max-width: 11em;
}

.page-details h3,
p {
  padding: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 75%;
}

form input {
  height: 2em;
  margin: 1em;
}

label {
  text-align: center;
}

.checkbox {
  display: flex;
  align-items: center;
}
